* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Gill Sans";
  font-size: 1rem;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: wheat;
}

.calculator {
  height: 500px;
  width: 400px;
  background: rgb(54, 48, 48);
  border: 5px solid white;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#display {
  width: 90%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgb(153, 170, 104);
  border-radius: 10px;
  font-size: 2rem;
  text-align: right;

  padding: 10px;
}
.buttons {
  margin: auto;
  height: 350px;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  align-content: center;
  justify-content: center;
}

.button {
  width: 60px;
  height: 50px;
}
.button.zero {
  grid-column: 2 / 3;
}
.button.equals {
  grid-column: 4 / 5;
}

.button.decimal {
  grid-column: 4 / 5;
}
