* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: wheat;
}

.calculator {
  height: 550px;
  width: 400px;
  background: rgb(54, 48, 48);
  border: 5px solid white;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-row {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sunpanel {
  margin-right: 5%;
  position: relative;
  width: 50%;
  height: 70%;
  background: linear-gradient(180deg, rgb(79, 85, 62) 0%, rgb(64, 69, 52) 100%);
  overflow: hidden;
  display: flex;

  align-items: stretch;
  justify-content: space-between;
  border-radius: 10px;
}

.logo-container {
  text-align: center;
  width: 150px;
  height: 80px;
  letter-spacing: 1px;

  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

.logo-container .logo {
  font-size: 1.5rem;
  color: white;
  padding: 2px;
}

.logo-container p:nth-of-type(1) {
  color: white;
  font-size: 0.6rem;
  padding: 1px;
}

.logo-container p:nth-of-type(2) {
  color: rgb(214, 55, 55);
  font-size: 0.8rem;
  padding: 1px;
}

#display {
  width: 90%;
  height: 30%;
  margin-top: 5%;
  margin-bottom: 20px;
  background: rgb(153, 170, 104);
  border-radius: 10px;
  font-size: 2rem;
  text-align: right;

  padding: 10px;
}
.buttons {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.button {
  width: 60px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: bold;
}

.button.del,
.button.clear {
  background: rgb(26, 114, 230);
  color: white;
}

.button.zero {
  grid-column: 2 / 3;
}
.button.equals {
  grid-column: 4 / 5;
}

.button.decimal {
  grid-column: 4 / 5;
}
